// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "~toastr";

// Bootstrap

//Create modal separator column
.st_npcsf{
    background: linear-gradient(to left, rgba(0, 0, 0, .04) , transparent);
}

// role permissions page
.role{
    border: 1px solid #e7f5e7;
    margin-bottom: 5px;
    padding: 3px;
}
.role .hide-default{
    visibility: hidden;
}
.role:hover .hide-default{
    visibility: visible;
}
.attachable-users{
    max-height: 400px;
    //overflow-y: scroll;
}
.role .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.665625rem;
    line-height: 1;
    border-radius: 0.2rem;
}


.hide-edit-box{
    margin-top: -8px;
    margin-left: -10px;
    width: calc(100% - -15px);
    height: calc(100% - 53px);
    background: #fba4962e;
    position: absolute;
    z-index: 10;
}

.preview {
    border: 1px solid #986666;
    border-radius: 10px;
    overflow: hidden;
    text-transform: uppercase;
}
.preview .title {
    border: 1px solid #986666;
    padding: 13px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

input[name=image],
input[name=video]
{
    display: none;
}
.custom-file-upload {
    padding: 6px 12px;
    cursor: pointer;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #efebe58f;
    margin: 20px;
    border: 20px dashed #65383845;
}

.image-preview-box,
.video-preview-box
{
    display: none;
}
.preview .body{
    position: relative;
}
.preview .remove{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}
