// Light Color Plate
$white: #fff;
$black: #000;
$black1: #24292e;
$black2: #666; //#586069
$black3: #a7a9ab;
$black4: #e1e4e8; //#e1e4e8
$black5: #f6f8fa;

// Accent color
$indigo: #5856D6;
$blue: #007AFF;
$green: #34C759;
$orange: #FF9500;
$pink: #FF2D55;
$purple: #AF52DE;
$red: #FF3B30;
$teal: #5AC8FA;
$yellow: #FFCC00;
$gray: #8E8E93;