table.dataTable tbody th,
table.dataTable tbody td,
  {
  padding: 10px 20px;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 20px;
  border-bottom-color: $base-color4;
  border-top: 1px solid $base-color4;
  border-right: 1px solid $base-color4;
  background: $base-color5;
  position: relative;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  background-color: transparent;
}

table.dataTable.stripe tbody tr:hover,
table.dataTable.display tbody tr.odd:hover {
  background-color: $base-color5 !important;
}

table.dataTable.display tbody td {
  border-right: 1px solid $base-color4;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-color: $base-color4;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  background-image: initial;
}

table.dataTable thead .sorting_asc .yoo-filter-btn {
  transform: rotate(180deg);
}

table.dataTable thead th,
table.dataTable thead td {
  .yoo-filter-btn {
    opacity: 0;
  }

  &:hover {
    .yoo-filter-btn {
      opacity: 1;
    }
  }
}

table.dataTable.no-footer {
  border-bottom-color: $base-color4;
}

.dataTables_wrapper .dataTables_length {
  display: none;
}

.dataTables_wrapper .dataTables_filter {
  float: left;
  margin-left: 20px;
  margin-bottom: 15px;

  label {
    margin-bottom: 0;
  }
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid $base-color4;
  border-radius: 4px;
  height: 36px;
  width: 210px;
  padding: 5px 15px 5px 33px;
  font-size: 14px;
  margin-left: 0;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 7px center;

  &:focus {
    outline: none;
  }
}

.dataTables_wrapper .dataTables_info {
  float: right;
  clear: initial;
  padding-top: 8px;
  margin-right: 10px;
}

.dataTables_wrapper .dataTables_paginate {
  padding: 0;
  display: flex;
  border: 1px solid $base-color4;
  border-radius: 4px;
  margin-right: 10px;

  >span {
    display: none;
  }

  >.paginate_button {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    margin: 0;
    border: none !important;
    padding: 0;
    color: $base-color2 !important;

    &.disabled {
      color: $base-color3 !important;

      &:hover {
        color: $base-color3 !important;
      }
    }

    &.previous {
      border-right: 1px solid $base-color4 !important;
    }

    &:hover {
      background: $base-color5;
      color: $base-color2 !important;
    }
  }
}

.yooDataTableWrap {
  position: relative;

  .btn {
    position: absolute;
    padding: 0.75em 1.4em;

    &.yoo-table-btn1 {
      top: 0;
      right: 20px;
    }

    &.yoo-table-btn2 {
      right: 140px;
      top: 0;
      padding: 0.667em 1.4em;
    }
  }
}

#yooDataTable,
#yooDataTable {

  th,
  td {
    &:first-child {
      border-left: none;
      width: 1% !important;
    }

    &:last-child {
      border-right: none;
      width: 1% !important;
      text-align: center;
    }

    &:nth-child(2) {
      width: 1% !important;
    }

    &:nth-child(3) {
      width: 16% !important;
    }

    &:nth-child(5) {
      width: 14% !important;
    }

    &:nth-child(6) {
      width: 15% !important;
    }

    &:nth-child(8) {
      width: 1% !important;
    }

    &:nth-child(9) {
      width: 5% !important;
    }
  }
}

.dataTables_wrapper .top {
  padding-right: 284px;
}

@media screen and (max-width: 992px) {
  .yooDataTableWrap .btn {
    position: initial;
    margin-left: 20px;
    margin-bottom: 15px;

    &.yoo-table-btn2 {
      margin-left: 10px;
    }
  }

  #yooDataTable_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 50px;
    position: initial;

    .dataTable.no-footer {
      min-width: 1100px;

    }
  }

  .dataTables_wrapper .top {
    padding-right: 10px;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_paginate {
    width: 68px;
    margin-left: auto;
    margin-top: 0;
    float: right;
  }

  .dataTables_wrapper .dataTables_info {
    float: right !important;
  }

  .dataTables_wrapper .dataTables_filter {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 420px) {
  .dataTables_wrapper .dataTables_filter input {
    width: 150px;
  }
}
