.table-bordered td,
.table-bordered th,
.table-bordered {
    border-color: $black4;
}

.table {
    color: $black2;

    td,
    th {
        border-color: $black4;
        vertical-align: middle;
    }
}

.st_table.st_style1 {
    border: 1px solid $black4;
    border-radius: 5px;

    tr:hover {
        td {
            background-color: $black5;
        }
    }

    tr,
    td {
        padding: 12px 15px;
        transition: all 0.3s ease;
    }

    .table {
        border: none;
        margin: 0;

        td:first-child {
            border-left: none;
            line-height: 0.6em;
            width: 60px;
        }

        td:last-child {
            border-right: none;
        }

        tr:first-child {
            td {
                border-top: none;
            }
        }

        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}

.st_table_link {
    font-weight: 500;
    color: $indigo;
    display: inline-block;

    &:hover {
        color: $indigo;
        text-decoration: underline;
    }
}

.st_table_users {
    display: flex;
    padding-left: 6px;

    .st_table_user {
        width: 28px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $white;
        margin-left: -8px;
        flex: none;

        &:hover {
            position: relative;
            z-index: 1;
        }
    }
}

.st_table_action_btn {
    font-size: 24px;
    padding: 0;
    display: flex;
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    color: $black3;
    border-radius: 5px;

    &:hover,
    &:focus,
    &:active {
        background-color: rgba($indigo, 0.1);
        color: $indigo;
        outline: none;
    }

    &:after {
        display: none;
    }
}

.st_table_action_btn_wrap {
    .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-item {
        padding: 10px 20px;
    }
}

.st_table_media.st_style1 {
    display: flex;
    align-items: center;

    .st_table_media_img {
        margin-right: 10px;
    }

    .st_media_title {
        font-size: 14px;
        margin: 0;
        color: $black2;

        a {
            &:hover {
                color: $indigo;
            }
        }
    }

    .st_media_subtitle {
        font-size: 12px;
        line-height: 1.4em;
        color: $black3;
    }

    .st_box_sm {
        height: 34px;
        width: 34px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &.st_type1 {
        .st_box_sm {
            height: 25px;
            width: 25px;
        }
    }
}

.st_data_table_wrap {
    position: relative;
}

.dataTables_wrapper .dataTables_filter {
    float: initial;
    padding: 15px 25px;

    input {
        border: 1px solid #e1e4e8;
        border-radius: 4px;
        height: 36px;
        width: 240px;
        padding: 5px 15px 5px 36px;
        font-size: 14px;
        margin-left: 0;
        background-image: url(../img/icons/search.svg);
        background-repeat: no-repeat;
        background-position: 8px center;
        transition: all 0.3s ease;

        &:focus {
            border-color: $indigo;
            outline: none;
        }
    }

    label {
        margin: 0;
    }
}


.dataTables_wrapper {
    position: relative;

    .dropdown {
        display: inline-flex;
    }
}

table.dataTable.no-footer {
    border-bottom-color: $black4;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: transparent;
}

.st_table_progress.st_style1 {
    .progress {
        height: 5px;
        background-color: $black4;
    }

    .progress-bar {
        border-radius: inherit;
    }

    .st_table_progress_head {
        font-size: 14px;
        color: $black2;
        line-height: 1.6em;
        margin-bottom: 3px;
        margin-top: -5px;
    }
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 12px 7px;
    border-bottom-color: $black4;
    border-top: 1px solid $black4;
    background: transparent;
    font-weight: 500;
    color: $black1;
    position: relative;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 12px 7px;
}

table.dataTable tbody th:first-child,
table.dataTable tbody td:first-child,
table.dataTable thead th:first-child,
table.dataTable thead td:first-child {
    padding-left: 25px;
}

table.dataTable tbody th:last-child,
table.dataTable tbody td:last-child,
table.dataTable thead th:last-child,
table.dataTable thead td:last-child {
    padding-right: 25px;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.active {
    background-color: $black5;
}

.dataTables_wrapper .dataTables_paginate {
    display: flex;
    margin-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;

    >span {
        display: flex;
    }

    .paginate_button {
        padding: 5px;
        color: $black2 !important;
        border-radius: 0;
        border: 1px solid $black4;
        margin: 0;
        margin-left: -1px;
        height: 36px;
        min-width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.current {
            color: $indigo !important;
            border-color: $black4;
            background: rgba($indigo, 0.2);

            &:hover {
                color: $indigo !important;
                border-color: $black4;
                background: rgba($indigo, 0.2);
            }

        }

        &.next,
        &.previous {
            font-size: 20px;
        }

        &.next {
            border-radius: 0 5px 5px 0;
        }

        &.previous {
            border-radius: 5px 0 0 5px;
        }

        &.disabled {
            border-color: $black4;
            color: $black3 !important;

            &:hover {
                border-color: $black4;
                color: $black3 !important;
            }
        }

        &:hover {
            color: $indigo !important;
            border-color: $black4;
            background: $black5;
        }
    }
}

.dataTables_length {
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 50px;
    }

    .btn-light {
        background-color: $black5;
        padding: 4px 10px;
        margin-top: 15px;
        border-color: $black4;
        color: $black2;
    }

    .btn-light:not(:disabled):not(.disabled).active,
    .btn-light:not(:disabled):not(.disabled):active,
    .show>.btn-light.dropdown-toggle {
        background-color: $black5;
        border-color: $black4;
        opacity: 1;
    }

    .bootstrap-select .dropdown-toggle:focus {
        box-shadow: none;
        outline: none !important;
    }

    .dropdown-toggle::after {
        border-top-color: $black3;
        border-bottom-color: $black3;
    }

    .dropdown-menu {
        border-top-width: 1px;
        border-top-color: $black4;
        padding: 0;
        margin-top: 2px;
    }

    .dropdown-item {
        padding: 4px 15px;

        &:hover {
            background-color: $black5;
        }

        &.active {
            background-color: rgba($indigo, 0.1);
            color: $indigo;

            &:hover {
                background-color: rgba($indigo, 0.1);
                color: $indigo;
            }
        }

        &:active {
            outline: none;
        }
    }
}



.dataTables_wrapper .dataTables_info {
    padding-top: 21px;
    margin-left: 25px;
    color: $black2 !important;
}

.dataTables_wrapper .dataTables_length {
    margin-left: 15px;
    margin-right: 25px;
}

.st_fixed_height1 .st_dataTableWraqp {
    height: 405px;
    overflow: auto;
}

.st_data_table_btn_group {
    position: absolute;
    top: 17px;
    left: 25px;
    display: flex;

    .st_data_table_btn {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.st_data_table_btn {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid $black4;
    border-radius: 4px;
    background-color: transparent;
    height: 32px;
    background-color: $black5;
    z-index: 1;
    color: $black3;
    padding: 0 10px;
    font-weight: 500;
    i {
        font-size: 22px;
    }

    &:hover {
        color: $black2;
    }

    &:after {
        display: none;
    }

    &:focus {
        outline: none;
    }
}

.st_filter_btn {
    display: inline-flex;
    font-size: 18px;
    height: 16px;
    align-items: center;
    overflow: hidden;
    position: relative;
    top: 4px;
    margin-left: 6px;
    color: $black3;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

table.dataTable thead .sorting_asc {
    .st_filter_btn {
        transform: rotate(180deg)
    }
}

table.dataTable thead th,
table.dataTable thead td {
    &:hover {
        .st_filter_btn {
            opacity: 1;
            visibility: visible;
        }
    }
}

// <td>
// <div class="st_table_users">
//   <a class="st_table_user" href="#" data-toggle="tooltip" data-placement="bottom" title="John">
//     <img src="assets/img/users/user5.jpg" alt="user">
//   </a>
//   <a class="st_table_user" href="#" data-toggle="tooltip" data-placement="bottom" title="Hendren">
//     <img src="assets/img/users/user6.jpg" alt="user">
//   </a>
//   <a class="st_table_user" href="#" data-toggle="tooltip" data-placement="bottom" title="Hendren">
//     <img src="assets/img/users/user7.jpg" alt="user">
//   </a>
// </div>
// </td>