.tooltip {
  line-height: 1.6em;
  font-size: 12;
  font-family: inherit;
}
.tooltip.show {
  opacity: 1;
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-left .arrow::before,
.bs-tooltip-right .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $black1;
}
.tooltip-inner {
  max-width: 200px;
  padding: 5px 15px;
  color: $white;
  text-align: center;
  background-color: $black1;
  border-radius: 4px;
}
.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 20px;
}